.db
Chap01/SUBSEQMAX/.vs/SUBSEQMAX/v15/Browse.VC.db
Chap01/SUBSEQMAX/.vs
Chap01/Sort/.vs
Chap01/Add/.vs
Chap01/Combsort/.vs/Combsort/v15/.suo
Chap01/Combsort/.vs/Combsort/v15/Browse.VC.db
Chap01/Combsort/.vs/Combsort/v15/ipch/AutoPCH/9ac5445670e362c8/COMBSORT.ipch
Chap02/WaterJug/.vs
Chap02/BinaryList/.vs
Chap01/WaterJug/.vs/WaterJug/v15/.suo
Chap01/WaterJug/.vs/WaterJug/v15/Browse.VC.db
Chap01/WaterJug/.vs/WaterJug/v15/ipch/AutoPCH/efb17f08c6a651e8/SOURCE.ipch
